<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Admin panel</title>
</head>
<body>
<div align="center">
    <h1>Votings</h1>
    <a href="/admin/voting/add">Create new voting</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Single choice</th>
            <th>Voters registered</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voting : ${votings}">
            <td th:text="${voting.id}">ID</td>
            <td th:text="${voting.name}">Name</td>
            <td th:text="${voting.start}">Start</td>
            <td th:text="${voting.end}">End</td>
            <td th:text="${voting.singleChoice}">Single choice</td>
            <td th:text="${voting.voters.size()}">Voters registered</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>